._h1 {
    display: block;
    font-family: VT323;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 33px;
    color: #2BD37E;
}

img {
    height: 200px;
    object-fit: cover;
    vertical-align: top;
}

#card-blurr {
    box-shadow: 0px 0px 10px 1px #8b8585;
}

#btn-gradient {
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #253649 inset;
    box-sizing: border-box;
    border-radius: 5px;
    
    font-family: VT323;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 33px;
    color: #2BD37E;
}

#btn-gradient:hover {
    box-shadow: none;
    color: rgb(2, 2, 2);
}

._bg-gray {
    background-color: #30336b;
}

#btn-secondary {
    border: solid 1px #2BD37E;
    box-shadow: none;
    color: #2BD37E;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: VT323;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
}

#btn-secondary:hover {
    border: solid 1px whitesmoke;
    color: whitesmoke;
}